project/project
project/target
target
core/target

**/.DS_Store
.cache
.tm_properties
.classpath
.project
.settings
*.swp
tags
# Users Environment Variables
.lock-wscript

# SBT
target
project/target
project/project
lib_managed


*.sw?
.ensime*
.ensime_cache

# Common directory names
*.d
*.db
*~
*.log
